1- Apply SMOTE for upsampling the data

Use logistic regression to fit the model and compute the accuracy of the model.
Use decision tree classifier to fit the model and compute the accuracy of the model.
Compare the accuracies of the two models.

2- Apply TomekLinks for downsampling

It is important to remember that it does not make the two classes equal but only removes the points from the majority class that are close to other points in minority class.
Use logistic regression to fit the model and compute the accuracy of the model.
Use decision tree classifier to fit the model and compute the accuracy of the model.
Compare the accuracies of the two models.
You can also apply this algorithm one more time and check the how the imbalance in the two classes changed from the last time.

In [21]:
#1

In [7]:
import pandas as pd
import numpy as np

In [8]:
df_original = pd.read_csv(r'C:\Users\aidag\OneDrive\Escritorio\ironhack\lab-cross-validation\files_for_lab\Customer-Churn.csv')
df_copy = df_original.copy()
df_copy.head()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes

In [24]:
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score
from imblearn.under_sampling import TomekLinks
from sklearn.datasets import make_classification

In [10]:
df_copy.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [11]:
numerical_data = df_copy.select_dtypes(include=['int64', 'float64'])
categorical_data = df_copy.select_dtypes(include=('object'))

In [13]:
X_numerical = numerical_data
y = df_copy['Churn']

smote = SMOTE(random_state=42)

X_resampled, y_resampled = smote.fit_resample(X_numerical, y)

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X_resampled, y_resampled, test_size=0.2, random_state=42)

logistic_model = LogisticRegression()
logistic_model.fit(X_train, y_train)
tree_model = DecisionTreeClassifier()
tree_model.fit(X_train, y_train)

y_pred_logistic = logistic_model.predict(X_test)
y_pred_tree = tree_model.predict(X_test)

accuracy_logistic = accuracy_score(y_test, y_pred_logistic)
accuracy_tree = accuracy_score(y_test, y_pred_tree)

print("Accuracy Logistic Regression:", accuracy_logistic)
print("Accuracy Decision Tree:", accuracy_tree)

Accuracy Logistic Regression: 0.7410628019323672
Accuracy Decision Tree: 0.7565217391304347

In [20]:
print("Accuracy decision tree displays better results with 0,0154589371980675 difference, in the end, it is a bit more")

Accuracy decision tree displays better results with 0,0154589371980675 difference, in the end, it is a bit more

In [22]:
#2

In [27]:
y_pred_logistic = logistic_model.predict(X_test)
y_pred_tree = tree_model.predict(X_test)

accuracy_logistic = accuracy_score(y_test, y_pred_logistic)
accuracy_tree = accuracy_score(y_test, y_pred_tree)

print("Accuracy Logistic Regression:", accuracy_logistic)
print("Accuracy Decision Tree:", accuracy_tree)

Accuracy Logistic Regression: 1.0
Accuracy Decision Tree: 1.0